.stickerField {
  background: rgb(72, 68, 143);
  background: linear-gradient(
    38deg,
    rgba(72, 68, 143, 1) 0%,
    rgba(95, 95, 175, 1) 33%,
    rgba(101, 212, 235, 1) 100%
  );
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}
